<div class="row">
  <div class="col-12 col-md-2">
    <h6 class="header">Rooms</h6>
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="welcome">
      <h4 class="alert-heading">Welcome to insync!</h4>
      <p>A place to talk with like minded people!</p>
      <hr/>
      <p>You can create or join a room from the sidebar.</p>
    </div>
</div>
