<div class="row">
  <div class="col-12 col-md-2">
    <h6 class="header">Rooms</h6>
    <%= render partial: 'rooms' %>
  </div>

  <div class="col welcome">
    <%= image_tag("monkeys.jpg", class: "welcome-image") %>
    <h4 class="alert-heading">Welcome to insync!</h4>
    <br>
    <p>A place to talk with like minded people!</p>
    <br>
    <p>You can create or join a room from the sidebar.</p>
    <br>
  </div>
</div>
