@import "variables";

html {
  height: 100%;
}

body {
  background-color: $primary-color;
  color: $font-color;
  font: 100% $primary-font-stack;
  position: relative;
  height: 100%;
}

.navbar {
  background-color: $primary-color !important;
  height: 4em !important;
}

.nav-link {
  color: white;
}

a:hover {
  color: rgb(197,183,198);
}

.avatar {
  max-height:30px;
  border-radius: 15px;
  width:auto;
  vertical-align:middle;
  padding-right: .5em;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  color: $font-color;
}

.header {
  margin-left: 1em;
  color: rgb(197,183,198);
}

.welcome {
  background-color: white;
  color: $font-color;
  padding: 2em;
  margin: 0 1.5em 0 1em;
  height: 100%;
  border-radius: 5px;
}

.welcome-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 1em;

}

@media only screen and (min-width: 768px) {
  .welcome-image {
    width: 70%;
    float: right;
  }
}
