@import "variables";

html {
  height: 100%;
}

body {
  background-color: $primary-color;
  color: $font-color;
  font: 100% $primary-font-stack;
  position: relative;
  height: 100%;
}

.navbar {
  background-color: $primary-color !important;
  height: 4em !important;
}

.nav-link {
  color: white;
}

a:hover {
  color: rgb(197,183,198);
}

.avatar {
  max-height:30px;
  border-radius: 15px;
  width:auto;
  vertical-align:middle;
  padding-right: .5em;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  color: $font-color;
}

.header {
  margin-left: 1em;
  color: rgb(197,183,198);
}

.welcome {
  background-color: white;
  color: $font-color;
  padding: 1em;
  height: 100%;
  border-radius: 5px;
}
