$primary-font-stack: Helvetica, sans-serif;
$primary-color: #021e60; // blue
$complement-color: #99cc66; // green
$font-color: #34495e;

html {
  height: 100%;
}

body {
  background-color: white;
  color: $font-color;
  font: 100% $primary-font-stack;
  line-height: 1.5em;
  position: relative;
  min-height: 100%;
  padding-bottom: 5em;
}

.avatar {
  max-height:30px;
  border-radius: 15px;
  width:auto;
  vertical-align:middle;
}

.main-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 2em;
}
