// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.message-wrapper {
  background-color: white !important;
  padding-top: 1em;
  margin: 0 1.5em 0 1em;
  border-radius: 5px;
}

.room-header {
  display: inline-block;
}

.btn-sm {
  float:right;
}

.chat-main {
  height: 60vh;
  overflow-y: auto;
}

.chat-input {
  border-top: 0 none;
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}

.input-group {
  padding: 1em;
}

.chat-message-container {
  padding: 5px;
  .avatar {
    margin: 5px;
  }
  .message-content {
    padding: 5px;
    color: #34495e;
  }
  & + .chat-message-container {
    margin-top: 10px;
  }
}
