// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.content-room {
  width: 50%;
  margin: 0 auto;
  margin-top: 2em;
}

.row {
  margin: 0!important;
}

.link-room a {
  color: rgb(197,183,198);
  margin-left: 1em;
}

.link-room a:hover {
  text-decoration: none;
  color: white;
}
