@import "variables";

.user-form {
  width: 90%;
  margin: 0 auto;
}

.sign-in {
  width: 95% !important;
  margin: 0 auto;
  margin-bottom: 2em;
}

@media only screen and (min-width: 768px) {
  .sign-in {
    width: 60% !important;
  }
}

@media only screen and (min-width: 992px) {
  .sign-in {
    width: 50% !important;
  }
}

.md-form {
  margin-bottom: .5em;
}

.form-elegant .font-small {
  font-size: 0.8rem;
}
