@import "variables";

.form-elegant {
  width: 90%;
  margin: 0 auto;
  margin-top: 6em;
  margin-bottom: 1em;
}

.sign-in {
  width: 40% !important;
  margin: 0 auto;
  margin-bottom: 2em;
}

.md-form {
  margin-bottom: .5em;
}

.form-elegant .font-small {
  font-size: 0.8rem;
}
